<% content_for :top do %>
<%= form_tag do %>
    City:
    <%= text_field_tag :city %>
    <br>
    Place name:
    <%= text_field_tag :name%>
    <br>
    or
    Zip code
    <%= text_field_tag :zipcode %>
    <%= submit_tag "Search", :class=>'button' %>

 <% end %>
<% end %>


<% content_for :detail do %>
<% if @places.any? %>
    <table id="detail">
          <tr>
          <th>Name</th>
           <th>address</th>
            <th>postal code</th>
        </tr>



      <% @places.each do |place| %>
          <tr>
            <td><%= link_to(place["name"], show_path(place["factual_id"]) )  %> </td>
            <td><%=place["address"]   %> </td>
            <td><%=place["postcode"]   %> </td>
          </tr>
      <%end %>
    </table>
<%end %>
<% end %>


<script type="text/javascript">

    var places = [];
    var titles = [];
    var descriptions = [];
    <% @places.each do |place| %>
    places.push(new google.maps.LatLng(<%=  place["latitude"] %>, <%= place["longitude"] %>));
    titles.push("<%= place["name"].to_s %>");
    titles.push("<%= place["address"].to_s %>");
    <%  end %>
    carte(places, titles, descriptions );

</script>

