<h1> Place Details </h1>

Name
<%= @detail["name"] %>
<br>
Address
<%= @detail["address"]%>
<br>

Telephone
<%= @detail["tel"]%>
<br>

Website
<%= @detail["website"]%>
<br>
Hours
<%= @detail["hours"]%>


